<form name="newgame" ng-submit="gbc.newGame(name.value)" ng-init="name = {}">
    <input type="text" ng-model="name.value" placeholder="New game name" />
    <button class="ce-btn primary" type="submit">Create new game</button>
</form>

<div class="games">
    <ul class="games-user">
        <li ng-repeat="game in gbc.games()">
            <a ui-sref="ROOT.GAME({ name: game.name })">{{game.name}}</a>
        </li>
    </ul>
    <ul class="games-unmatched">
        <li ng-repeat="game in gbc.unmatched">
            <a ng-click="gbc.join(game.name)">{{game.name}}</a>
        </li>
    </ul>
</div>