<audio id="bell">
    <source type="audio/mp3">
</audio>

<div class="game">
    <div class="history">
        <ul>
            <li>moves <ce-audio-toggle /></li>
            <li><ce-history-toggle /></li>
            <li><ce-current-turn /></li>
            <li ng-repeat="move in gc.history.history">{{move.value}}</li>
        </ul>
    </div>

    <div class="board">
        <div class="rank">
            <div class="file notation"></div>
            <div class="file notation">A</div>
            <div class="file notation">B</div>
            <div class="file notation">C</div>
            <div class="file notation">D</div>
            <div class="file notation">E</div>
            <div class="file notation">F</div>
            <div class="file notation">G</div>
            <div class="file notation">H</div>
            <div class="file notation"></div>
        </div>
        <div class="rank">
            <div class="rank notation">8</div>
            <div class="cell" ce-cell file="0" rank="0"></div>
            <div class="cell" ce-cell file="1" rank="0"></div>
            <div class="cell" ce-cell file="2" rank="0"></div>
            <div class="cell" ce-cell file="3" rank="0"></div>
            <div class="cell" ce-cell file="4" rank="0"></div>
            <div class="cell" ce-cell file="5" rank="0"></div>
            <div class="cell" ce-cell file="6" rank="0"></div>
            <div class="cell" ce-cell file="7" rank="0"></div>
            <div class="rank notation">8</div>
        </div>
        <div class="rank">
            <div class="rank notation">7</div>
            <div class="cell" ce-cell file="0" rank="1"></div>
            <div class="cell" ce-cell file="1" rank="1"></div>
            <div class="cell" ce-cell file="2" rank="1"></div>
            <div class="cell" ce-cell file="3" rank="1"></div>
            <div class="cell" ce-cell file="4" rank="1"></div>
            <div class="cell" ce-cell file="5" rank="1"></div>
            <div class="cell" ce-cell file="6" rank="1"></div>
            <div class="cell" ce-cell file="7" rank="1"></div>
            <div class="rank notation">7</div>
        </div>
        <div class="rank">
            <div class="rank notation">6</div>
            <div class="cell" ce-cell file="0" rank="2"></div>
            <div class="cell" ce-cell file="1" rank="2"></div>
            <div class="cell" ce-cell file="2" rank="2"></div>
            <div class="cell" ce-cell file="3" rank="2"></div>
            <div class="cell" ce-cell file="4" rank="2"></div>
            <div class="cell" ce-cell file="5" rank="2"></div>
            <div class="cell" ce-cell file="6" rank="2"></div>
            <div class="cell" ce-cell file="7" rank="2"></div>
            <div class="rank notation">6</div>
        </div>
        <div class="rank">
            <div class="rank notation">5</div>
            <div class="cell" ce-cell file="0" rank="3"></div>
            <div class="cell" ce-cell file="1" rank="3"></div>
            <div class="cell" ce-cell file="2" rank="3"></div>
            <div class="cell" ce-cell file="3" rank="3"></div>
            <div class="cell" ce-cell file="4" rank="3"></div>
            <div class="cell" ce-cell file="5" rank="3"></div>
            <div class="cell" ce-cell file="6" rank="3"></div>
            <div class="cell" ce-cell file="7" rank="3"></div>
            <div class="rank notation">5</div>
        </div>
        <div class="rank">
            <div class="rank notation">4</div>
            <div class="cell" ce-cell file="0" rank="4"></div>
            <div class="cell" ce-cell file="1" rank="4"></div>
            <div class="cell" ce-cell file="2" rank="4"></div>
            <div class="cell" ce-cell file="3" rank="4"></div>
            <div class="cell" ce-cell file="4" rank="4"></div>
            <div class="cell" ce-cell file="5" rank="4"></div>
            <div class="cell" ce-cell file="6" rank="4"></div>
            <div class="cell" ce-cell file="7" rank="4"></div>
            <div class="rank notation">4</div>
        </div>
        <div class="rank">
            <div class="rank notation">3</div>
            <div class="cell" ce-cell file="0" rank="5"></div>
            <div class="cell" ce-cell file="1" rank="5"></div>
            <div class="cell" ce-cell file="2" rank="5"></div>
            <div class="cell" ce-cell file="3" rank="5"></div>
            <div class="cell" ce-cell file="4" rank="5"></div>
            <div class="cell" ce-cell file="5" rank="5"></div>
            <div class="cell" ce-cell file="6" rank="5"></div>
            <div class="cell" ce-cell file="7" rank="5"></div>
            <div class="rank notation">3</div>
        </div>
        <div class="rank">
            <div class="rank notation">2</div>
            <div class="cell" ce-cell file="0" rank="6"></div>
            <div class="cell" ce-cell file="1" rank="6"></div>
            <div class="cell" ce-cell file="2" rank="6"></div>
            <div class="cell" ce-cell file="3" rank="6"></div>
            <div class="cell" ce-cell file="4" rank="6"></div>
            <div class="cell" ce-cell file="5" rank="6"></div>
            <div class="cell" ce-cell file="6" rank="6"></div>
            <div class="cell" ce-cell file="7" rank="6"></div>
            <div class="rank notation">2</div>
        </div>
        <div class="rank">
            <div class="rank notation">1</div>
            <div class="cell" ce-cell file="0" rank="7"></div>
            <div class="cell" ce-cell file="1" rank="7"></div>
            <div class="cell" ce-cell file="2" rank="7"></div>
            <div class="cell" ce-cell file="3" rank="7"></div>
            <div class="cell" ce-cell file="4" rank="7"></div>
            <div class="cell" ce-cell file="5" rank="7"></div>
            <div class="cell" ce-cell file="6" rank="7"></div>
            <div class="cell" ce-cell file="7" rank="7"></div>
            <div class="rank notation">1</div>
        </div>
        <div class="rank file notation-container">
            <div class="file notation"></div>
            <div class="file notation">A</div>
            <div class="file notation">B</div>
            <div class="file notation">C</div>
            <div class="file notation">D</div>
            <div class="file notation">E</div>
            <div class="file notation">F</div>
            <div class="file notation">G</div>
            <div class="file notation">H</div>
            <div class="file notation"></div>
        </div>
    </div>
</div>