<form name="register" ng-submit="rc.register(registerRequest)" ng-init="registerRequest = {}">
    <input type="email" ng-model="registerRequest.email" placeholder="Email" />
    <input type="password" ng-model="registerRequest.password" placeholder="Password" />
    <input type="password" ng-model="registerRequest.confirmPassword" placeholder="Confirm password" />
    <button class="ce-btn primary" type="submit">Register</button>
</form>