<nav>
    <div class="brand">
        <a ui-sref="ROOT.HOME">C#ESS.Engine()</a>
    </div>
    <ul>
        <li><a ui-sref="ROOT.HOME" ui-sref-active="active">Home</a></li>
        <li ng-if="!rc.loggedIn()"><a ui-sref="ROOT.LOGIN" ui-sref-active="active">Login</a></li>
        <li ng-if="!rc.loggedIn()"><a ui-sref="ROOT.REGISTER" ui-sref-active="active">Register</a></li>
        <li ng-if="rc.loggedIn()"><a ui-sref="ROOT.GAMES" ui-sref-active="active">Games</a></li>
        <li ng-if="rc.loggedIn()" ng-click="rc.logout()"><a>Logout</a></li>
    </ul>
</nav>
<ui-view />