@mixin darkCellBackground {
    background-color: #6E633D;
}

@mixin lightCellBackground {
    background-color: #C2A878;
}

@mixin redBackground {
    background-color: #9B1D20;
}

@mixin goldBackground {
    background-color: #C16200;
}

@mixin dropDarkBorder {
    box-shadow: inset 0px 0px 0px 1vw #6E633D;
}

@mixin dropLightBorder {
    box-shadow: inset 0px 0px 0px 1vw #C2A878;
}

@mixin noBoxBorder {
    box-shadow: none;
}

@mixin allowDrop {
    @include redBackground;
}

@mixin checkedDrop {
    @include goldBackground;
}

.board {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vw;
    box-shadow: 0px 0px 10px -1px #000;
}

.rank {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
}

.rank div {
    height: 100%;
    width: 10%;
}

.cell,
.cell.allow-drop.occupied {
    @include darkCellBackground;
    @include noBoxBorder;
}

.rank:nth-child(odd) .cell:nth-child(odd),
.rank:nth-child(even) .cell:nth-child(even),
.rank:nth-child(odd) .cell:nth-child(odd).allow-drop.occupied,
.rank:nth-child(even) .cell:nth-child(even).allow-drop.occupied {
    @include lightCellBackground;
    @include noBoxBorder;
}

.cell.allow-drop {
    @include allowDrop;
    @include dropDarkBorder;
}

.rank:nth-child(odd) .cell:nth-child(odd).allow-drop,
.rank:nth-child(even) .cell:nth-child(even).allow-drop {
    @include allowDrop;
    @include dropLightBorder;
}

.cell.checked-drop {
    @include checkedDrop;
    @include dropDarkBorder;
}

.rank:nth-child(odd) .cell:nth-child(odd).checked-drop,
.rank:nth-child(even) .cell:nth-child(even).checked-drop {
    @include checkedDrop;
    @include dropLightBorder;
}

.notation {
    display: flex;
    align-items: center;
    justify-content: center;
}