@import "./mixins.scss";

form {
    @include whiteBackground;
    @include boxShadowGreen;
    margin: auto;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form input,
form input:active,
form input:focus {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 130%;
    height: 30px;
    font-size: 1em;
    outline: 0;
    border: none;
    border-bottom: 2px solid #8E72B2;
    box-shadow: 0px 1px 1px -1px #0F2B16;
}

form input:hover {
    box-shadow: 0px 2px 1px -1px #0F2B16;
}

form input:focus {
    @include boxShadowGreen;
}

form button.ce-btn,
form button.ce-btn:active,
form button.ce-btn:focus {
    padding: 0;
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    height: 35px;
    width: 131%;
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
}