@import "./mixins.scss";

.games {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.games-user,
.games-unmatched {
    @include whiteBackground;
    @include flexUlistColumn;
}

.games-user a,
.games-unmatched a {
    @include darkFont;
}

.games-user a:hover,
.games-unmatched a:hover {
    @include darkFontLighter;
}

// .games-user li,
// .games-unmatched li {

// }