@import "./mixins.scss";

.game {
    margin: auto;
    margin-top: 50px;
    width: 75vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}