@mixin greenBackground {
    background-color: #275934;
}

@mixin blueBackground {
    background-color: #2D7DD2;
}

@mixin whiteBackground {
    background-color: #F1F5F2;
}

@mixin whiteFont {
    color: #F1F5F2;
}

@mixin darkFont {
    color: #151515;
}

@mixin darkFontLighter {
    color: #545454;
}

@mixin robotoFont {
    font-family: 'Roboto', sans-serif;
}

@mixin firaFont {
    font-family: 'Fira Mono', monospace;
}

@mixin boxShadowGreen {
    box-shadow: 0px 3px 1px -2px #0F2B16;
}

@mixin flexUlist {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

@mixin flexUlistColumn {
    @include flexUlist;
    flex-direction: column;
}