@import "./mixins.scss";

@mixin justifyNav {
    margin-left: 20px;
    margin-right: 20px;
}

nav {
    @include boxShadowGreen;
    @include blueBackground;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

nav ul {
    @include flexUlist;
}

nav ul li {
    margin-left: 10px;
    margin-right: 10px;
}

nav .brand {
    @include justifyNav;
}

@media only screen and (max-width: 355px) {
    nav .brand {
        padding-top: 20px;
    }
}

a.active {
    color: white;
    text-decoration: underline;
}