@mixin chessPiece {
    width: 98%;
    height: 98%;
    background-size: contain;
}

.cell .pawn {
    @include chessPiece;
    background-image: url("../images/pawn.svg");
}

.cell .rook {
    @include chessPiece;
    background-image: url("../images/rook.svg");
}

.cell .night {
    @include chessPiece;
    background-image: url("../images/knight.svg");
}

.cell .bishop {
    @include chessPiece;
    background-image: url("../images/bishop.svg");
}

.cell .queen {
    @include chessPiece;
    background-image: url("../images/queen.svg");
}

.cell .king {
    @include chessPiece;
    background-image: url("../images/king.svg");
}

.dark {
    filter: brightness(10%) sepia(100%) drop-shadow(1px 1px 0 #d0d0d0);
}

.light {
    filter: brightness(90%) sepia(100%) drop-shadow(1px 1px 0 #0f0f0f);
}

.takable {
    filter: brightness(6.5%) sepia(100%) contrast(80%) saturate(6030%) hue-rotate(340deg) drop-shadow(1px 1px 0 #0f0f0f);
}