@import "./mixins.scss";

@import "./nav.scss";
@import "./fonts.scss";
@import "./piece.scss";
@import "./board.scss";
@import "./history.scss";
@import "./game.scss";
@import "./games.scss";
@import "./button.scss";
@import "./form.scss";

body {
    @include greenBackground;
    @include robotoFont;
    margin: 0;
}

a {
    @include whiteFont;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: white;
}